<!DOCTYPE html>
<html>


<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="../assets/Semantic-UI/semantic.min.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../assets/Semantic-UI/semantic.min.js"></script> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>


<body>

  <div class="ui container" >
    <div class="ui three column grid">

      <div class="column">
        <div class="ui segments" >
          <div class="ui segment">
            <h2>Waiting 
                <button 
                (click)="createTask()"
                class="ui right floated green compact icon button">
                <i class="material-icons add">add</i>
                </button> 
            </h2>
          </div>
          <div class="ui segments">
            <div class=" ui segment"
            (click)="onSelect(task)"
            [class.selected]="task === selectedTask" 
            *ngFor="let task of tasksWaiting">
              {{task.name}}
              <button class="ui right floated blue compact icon button"
               (click)="startTask(task)">
               <i class="material-icons">play_arrow</i></button>
          </div>
        </div>
        </div>
      </div>
  
  <div class="column">
    <div class="ui segments">
      <div class="ui segment">
        <h2>In Progress</h2>
      </div>
      <div class="ui segments">
        <div class="ui segment"
        *ngFor="let task of tasksInProgress" 
        (click)="onSelect(task)"
        [class.selected]="task === selectedTask">
          {{task.name}}
          <button class="ui right floated yellow compact icon button" (click)="finishedTask(task)">
            <i class="material-icons">stop</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class = "ui segments">
      <div class = "ui segment">
        <h2>Finished</h2>
      </div>
      <div class="ui segments">
        <div class = "ui segment"
        *ngFor="let task of tasksFinished" 
        (click)="onSelect(task)"
        [class.selected]="task === selectedTask">

          {{task.name}}
          <button class="ui right floated red compact icon button" (click)="removeTask(task)">
              <i class="material-icons">done</i>
          </button> 
        </div>
      </div>
    </div>
  </div>


  </div>
</div>

<div class="ui divider"></div>


<app-task-detail [tasksComponent]="this" [task]="selectedTask"></app-task-detail>



</body>
</html> 
